@font-face {
    font-family: gameOfSquids;
    src: url("/fonts/GameOfSquids.ttf");
}
body{
    background-color: #000000;
    font-family: GameOfSquids, Serif;

}
.loader {
    border: 16px solid #bed2f8;
    border-top: 16px solid #2c248d;
    border-bottom: 16px solid #2c248d;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    color: white;
    font-weight: bolder;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.picPlace {
    height: 250px;
    position: relative;
    text-align: center;
    color: white;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#searchField{
    color: white;
}
::placeholder{
    color: white;
}
.card{
    color: white;
}